

#inline-block{
    display: inline-block;
    vertical-align: top;
}

#Logo{
    scale: 0.1;
    width: 23%;
    padding: 1%;
    text-align: center;
}

.nav{
width: 73%;
margin-left: auto;
}

ul{
    width: 50%;
    margin-left: auto;
}
.aboutHero{
height: 500px;
padding: 50px;
}


.projectHero{
    height: 500px;
    padding: 50px;
    margin-right: auto;
    }

p, br{
width: 500px;
margin: 0 auto;
}

